body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(89deg, #1de5db 0%, #f1ef4f 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
